html{
    margin: 10px 50px 20px 150px;
    padding: 0;
    border: 0;
    -webkit-text-size-adjust: 100%;
}
/* Layout */
body{
    overflow: visible;
    color: #fff;
    background-color: #000;
    font-size: 1 rem;
}
p{
    font-family: Arial, Helvetica, sans-serif ;
}
/* TODO: experiment with different colors. */
h1{
  color: blue;  
}
ul{
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;

}

/* Topography */

/* display */
.container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
}
.container_abt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
.abt_title{
text-align: center;
padding-bottom: 20px;
}
.abt_p{
  box-sizing: border-box;
  
}
.image_1{
    width: 80%;
    margin: 20px;
    height: 100%;

}
.name{
    font-size: 4em;
    margin-top: 0;
    color: blue;
}

a:hover{
    color: crimson;
    text-decoration: none;
    
}
#email_btn{
    color: #fff;
    text-decoration: none;
}
#email_btn:hover{
    color: blueviolet;
}